:root {
    --md-primary-fg-color:        #181a38;  /* Dark Indigo */
    --md-primary-fg-color--light: #130f3f;
    --md-primary-fg-color--dark:  #1E212A;
    --md-accent-fg-color:         #ff4081;  /* Pink accent */
  }
  